.DS_Store
.metadata
.classpath
.settings
.exe
.project
.zip
.log
zenses/.classpath
zenses/.settings
zenses/bin
zenses/target

zenses-lib/.classpath
zenses-lib/.settings
zenses-lib/bin
zenses-lib/target