<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zenses.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zenses.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Zenses.Client.Properties.Settings>
            <setting name="LastFM_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFM_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Load_OnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scrobble_LastDate" serializeAs="String">
                <value />
            </setting>
            <setting name="Scrobble_FirstDate" serializeAs="String">
                <value />
            </setting>
        </Zenses.Client.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Zenses.Client.Properties.Settings>
            <setting name="LastFM_APIUri" serializeAs="String">
                <value />
            </setting>
        </Zenses.Client.Properties.Settings>
    </applicationSettings>
</configuration>